@import url('./reset.css');
@import url('./common.css');
@import url('./container.css');

@import url('@fontsource/inter-tight/500.css');
@import url('@fontsource/inter-tight/600.css');
@import url('modern-normalize/modern-normalize.css');

:root {
  --white-text-color: #fafafa;
  --arrow-color: #3b3b3b;
  --accent-color: #ed3b44;
  --background-color: #1c1d20;
  --cards-background-color: #242527;
  --middle-gradient-color: #69292d;
  --button-border-color: #fafafa33;
  --grey-title-color: #fafafa66;
  --grey-text-color: #fafafa99;
  --text-shadow: #fafafa40;
  --icon-accent: #450306;
  --modal-border-color: #fafafa1a;
  --button-hover-color: #e0373f;
  --succes-message-color: #3cbc81;
  --not-succes-message-color: #e74a3b;
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: var(--background);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
