@import url('./reset.css');
@import url('./container.css');

@import url('@fontsource/inter-tight/500.css');
@import url('@fontsource/inter-tight/600.css');
@import url('modern-normalize/modern-normalize.css');

:root {
  --white-text-color: #fafafa;
  --arrow-color: #3b3b3b;

  --font-color: #1c1d20;
  --cards-background-color: #242527;
  --color-secondary: #69292d;
  --color-primary: #ed3b44;
  --button-border-color: #fafafa33;
  --grey-title-color: #fafafa66;
  --grey-text-color: #fafafa99;
  --text-shadow: #fafafa40;
  --icon-accent: #450306;
  --modal-border-color: #fafafa1a;
  --hover-color: #e0373f;
  --succes-message-color: #3cbc81;
  --not-succes-message-color: #e74a3b;
}

/* Стилі для кожної теми */
.red-theme {
  --color-primary: #ed3b44;
  --color-secondary: #69292d;
  --hover-color: #e03740e1;
  --font-color: #1c1d20;
  --rgb1-color: 237;
  --rgb2-color: 59;
  --rgb3-color: 68;
}

.lime-theme {
  --color-primary: #d6da22;
  --color-secondary: #99af19;
  --hover-color: #b7d125dc;
  --font-color: #1c1d20;
  --rgb1-color: 198;
  --rgb2-color: 227;
  --rgb3-color: 39;
}

.blue-theme {
  --color-primary: #0041e8;
  --color-secondary: #001958;
  --hover-color: #0042e8be;
  --font-color: #1c1d20;
  --rgb1-color: 0;
  --rgb2-color: 65;
  --rgb3-color: 232;
}

.orange-theme {
  --color-primary: #e6533c;
  --color-secondary: #9f3626;
  --hover-color: #e6533cd0;
  --font-color: #1c1d20;
  --rgb1-color: 230;
  --rgb2-color: 83;
  --rgb3-color: 60;
}

.green-theme {
  --color-primary: #53ccbe;
  --color-secondary: #1e3633;
  --hover-color: #2b4441cc;
  --font-color: #1c1d20;
  --rgb1-color: 43;
  --rgb2-color: 68;
  --rgb3-color: 65;
}

.ocher-theme {
  --color-primary: #ff7f08;
  --color-secondary: #ac5300;
  --hover-color: #ff7f08cc;
  --font-color: #1c1d20;
  --rgb1-color: 255;
  --rgb2-color: 127;
  --rgb3-color: 8;
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: var(--font-color);
}

body:not(.theme-loaded) {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
