.header-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.button-menu {
  display: flex;
  padding: 0;
  background: none;
  border: none;
}

.logo-container {
  display: flex;
  gap: 8px;
}

.logo-text {
  width: 84px;
  height: 19px;
}

.logo-img {
  border-radius: 20px;
}

.drop-down-container {
  display: none;
}

.order-btn {
  display: none;
}

.menu-anchors {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }

  .order-btn {
    display: flex;
    align-items: center;
    background-color: #ed3b44;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    border: none;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fafafa;
    transition: background-color 250ms linear;
  }

  .order-btn:hover,
  .order-btn:focus {
    background-color: #e0373f;
  }

  .drop-down-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-right: 9px;
    width: 67px;
    height: 39px;
  }

  .btn-drop-down {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--main-text);
    cursor: pointer;
    padding: 0px;
    transition: color 250ms linear;
  }

  .btn-drop-down:hover {
    color: #e0373f;
  }

  .menu-anchors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
  }

  .menu-anchors.visually-hidden {
    opacity: 0;
  }

  .list-menu-anchors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;

  }

  .list-item {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .anchor-link {
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    transition: color 250ms linear;
    color: #fafafa;
  }

  .anchor-link:hover,
  .anchor-link:focus {
    color: #e0373f;
  }
}
