.header-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  width: 100%;
}

.header-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.button-menu {
  display: flex;
  padding: 0;
  background: none;
  border: none;
}

.logo-container {
  display: flex;
  gap: 8px;
}

.logo-text {
  width: 84px;
  height: 19px;
}

.logo-img {
  border-radius: 20px;
}

.drop-down-container {
  display: none;
}

.order-btn {
  display: none;
}

.menu-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }

  .order-btn {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    border: none;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--white-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-btn:hover,
  .order-btn:focus {
    background-color: var(--hover-color);
  }

  .drop-down-container {
    padding-top: 10px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 67px;
    height: 39px;
  }

  .btn-drop-down {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: var(--white-text-color);
    cursor: pointer;
    padding: 0px;
    transition: color 250ms linear;
  }

  .btn-drop-down:hover {
    color: var(--color-primary);
  }

  .menu-container {
    display: flex;
    flex-direction: column;
  }

  .list-menu-anchors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: opacity 1s ease;
  }

  .list-menu-anchors.visually-hidden {
    opacity: 0;
  }

  .anchor-link {
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    transition: color 250ms linear;
    color: var(--white-text-color);
  }

  .anchor-link:hover,
  .anchor-link:focus {
    color: var(--color-primary);
  }
}

/* theme switcher */

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.header-select:focus-visible {
  outline: none;
}

.header-select:hover {
  border-color: var(--color-secondary);
}

.header-select {
  position: absolute;
  top: 750px;
  right: 20px;
  font-size: 14px;

  padding: 8px;
  text-align: center;
  background-color: var(--background-color);
  color: white;
  border: 2px solid var(--color-primary);
  border-radius: 50px;
  height: 35px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 373px) {
  .header-select {
    top: 795px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .header-select {
    right: 35px;
    top: 100px;
    height: 40px;
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .header-select {
    top: 34px;
    right: 210px;
    height: 55px;
    width: 85px;
  }
}
