.section-hero {
  padding-bottom: 48px;
}

.hero {
  width: 100%;
  padding-top: 281px;
  padding-bottom: 32px;

  /* background-image: url(../../img/hero/bg-mob@1x.png); */

  /* background-image: linear-gradient(90deg, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 33%) 17%, rgb(0 0 0 / 58%) 100%), 
  linear-gradient(to right, #ED3B44, #69292D, #1C1D20 50%);
  background-size: 17%, 100% 100%; */

  /* background-image:
    linear-gradient(to right,
      rgba(59, 59, 59, 0.2) 0%,
      rgb(0 0 0 / 20%) 0.4%,
      rgb(152 152 152 / 20%)2.2%,

      rgba(59, 59, 59, 0.2) 3.6%,
      rgb(0 0 0 / 20%)5.2%,
      rgb(140 140 140 / 20%)7%,

      rgba(59, 59, 59, 0.2) 8.4%,
      rgb(0 0 0 / 20%) 10%,
      rgb(105 105 105 / 20%)11.8%,

      rgba(59, 59, 59, 0.2) 13.2%,
      rgb(0 0 0 / 20%) 14.8%,
      rgb(99 99 99 / 20%)16.6%,

      rgba(59, 59, 59, 0.2) 18%,
      rgb(0 0 0 / 20%) 19.6%,
      rgb(143 143 143 / 20%)21.2%,

      rgba(59, 59, 59, 0.2) 22.8%,
      rgb(0 0 0 / 20%) 24.4%,
      rgb(183 183 183 / 20%)26%,

      rgba(59, 59, 59, 0.2) 27.6%,
      rgb(0 0 0 / 20%) 29.2%,
      rgb(169 169 169 / 20%)30.8%,

      rgba(59, 59, 59, 0.2) 32.4%,
      rgb(0 0 0 / 20%) 34%,
      rgb(147 147 147 / 20%)35.6%,

      rgba(59, 59, 59, 0.2) 37.2%,
      rgb(0 0 0 / 20%) 38.8%,
      rgb(189 187 187 / 20%)40.4%,

      rgba(59, 59, 59, 0.2) 42%,
      rgb(0 0 0 / 20%) 43.6%,
      rgb(140 136 136 / 20%)45.2%,

      rgba(59, 59, 59, 0.2) 46.8%,
      rgb(0 0 0 / 20%) 48.4%,
      rgb(92 91 91 / 0%)50%,

      var(--font-color) 50%),
    linear-gradient(to right, var(--color-primary) 30%, var(--color-secondary) 45%, var(--font-color) 50%); */

  background-image: linear-gradient(
      90deg,
      rgb(0 0 0 / 20%) 0%,
      rgb(0 0 0 / 20%) 16.67%,
      rgb(183 183 183 / 20%) 100%
    ),
    linear-gradient(
      90deg,
      rgb(0 0 0 / 20%) 0%,
      rgb(0 0 0 / 20%) 16.67%,
      rgb(169 169 169 / 20%) 100%
    ),
    linear-gradient(
      90deg,
      rgb(0 0 0 / 20%) 0%,
      rgb(0 0 0 / 20%) 16.67%,
      rgb(147 147 147 / 20%) 100%
    ),
    linear-gradient(
      90deg,
      rgb(0 0 0 / 20%) 0%,
      rgb(0 0 0 / 20%) 16.67%,
      rgb(189 187 187 / 20%) 100%
    ),
    linear-gradient(
      90deg,
      rgb(0 0 0 / 20%) 0%,
      rgb(0 0 0 / 20%) 16.67%,
      rgb(140 136 136 / 20%) 100%
    ),
    linear-gradient(90deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 16.67%, rgb(92 91 91 / 10%) 100%),
    linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--font-color) 50%);

  background-size:
    57px,
    57px,
    57px,
    57px,
    57px,
    57px,
    100% 100%;
  background-position: 0px, 56px, 112px, 167px, 224px, 280px;
  background-repeat: no-repeat;
}

.hero-title {
  width: 343px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 212px;
  padding: 0 16px;
}

.hero-links {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.hero-social-link {
  display: flex;
  gap: 4px;
}

.hero-link-a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  text-decoration: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto {
  width: 178px;
}

.hero-link-a:hover,
.hero-link-a:focus {
  border-color: var(--white-text-color);
}

/* @media only screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-mob@2x.png);
  }
} */
@media only screen and (min-width: 768px) {
  .section-hero {
    padding-bottom: 32px;
  }

  .hero {
    min-width: 768px;
    padding-top: 300px;
    /* background-image: url(../../img/hero/bg-tab@1x.png); */

    /* background-image: linear-gradient(90deg, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 33%) 17%, rgb(0 0 0 / 58%) 100%), 
    linear-gradient(to right, #ED3B44, #69292D, #1C1D20 50%);
  
    background-size: 11.20%, 100% 100%; */

    background-image: linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(105 105 105 / 20%) 100%
      ),
      linear-gradient(90deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 16.67%, rgb(99 99 99 / 20%) 100%),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(143 143 143 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(183 183 183 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(169 169 169 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(147 147 147 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(189 187 187 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(140 136 136 / 20%) 100%
      ),
      linear-gradient(90deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 16.67%, rgb(92 91 91 / 10%) 100%),
      linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--font-color) 50%);

    background-size:
      63px,
      63px,
      63px,
      63px,
      63px,
      63px,
      63px,
      63px,
      63px,
      100% 100%;
    background-position: 0px, 63px, 126px, 189px, 252px, 315px, 378px, 441px, 504px;
  }

  .hero-title {
    font-size: 90px;
    width: 664px;
    margin-bottom: 187px;
  }

  .hero-links {
    justify-content: flex-end;
  }

  .hero-link-a {
    font-size: 16px;
    width: 55px;
    height: 55px;
  }

  .mailto {
    width: 223px;
  }
}

/* @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-tab@2x.png);
  }
} */
@media only screen and (min-width: 1440px) {
  .hero {
    max-width: 100%;
    padding-top: 315px;
    /* padding-bottom: 188px; */
    /* background-image: url(../../img/hero/bg-desk@1x.png); */

    /* background-image: linear-gradient(90deg,
        rgb(0 0 0 / 36%) 0%,
        rgb(0 0 0 / 33%) 17%,
        rgb(0 0 0 / 58%) 100%),
      linear-gradient(to right, #ed3b44, #69292d, #1c1d20 50%);

    background-size:
      5%,
      100% 100%; */

    background-image: linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(152 152 152 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(152 152 152 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(152 152 152 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(152 152 152 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(152 152 152 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(140 140 140 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(105 105 105 / 20%) 100%
      ),
      linear-gradient(90deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 16.67%, rgb(99 99 99 / 20%) 100%),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(143 143 143 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(183 183 183 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(169 169 169 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(147 147 147 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(189 187 187 / 20%) 100%
      ),
      linear-gradient(
        90deg,
        rgb(0 0 0 / 20%) 0%,
        rgb(0 0 0 / 20%) 16.67%,
        rgb(140 136 136 / 20%) 100%
      ),
      linear-gradient(90deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 16.67%, rgb(92 91 91 / 10%) 100%),
      linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--font-color) 50%);

    background-size:
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      60px,
      100% 100%;
    background-position: 0px, 66px, 132px, 198px, 264px, 330px, 396px, 462px, 528px, 594px, 660px,
      720px, 780px, 840px, 900px;
  }

  .hero-title {
    width: 1116px;
    margin: 0 auto;
    margin-bottom: 228px;
  }
}

/* @media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-desk@2x.png);
  }
} */
