.section-hero {
  padding-bottom: 48px;
}

.hero {
  max-width: 375px;
  padding-top: 281px;
  padding-bottom: 32px;

  /* background-image: url(../../img/hero/bg-mob@1x.png); */

  /* background-image: linear-gradient(90deg, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 33%) 17%, rgb(0 0 0 / 58%) 100%), 
  linear-gradient(to right, #ED3B44, #69292D, #1C1D20 50%);
  background-size: 17%, 100% 100%; */

  background-image: linear-gradient(
      to right,
      rgba(237, 59, 68, 0.8),
      rgba(105, 41, 45, 0.8),
      rgb(28 29 32 / 86%) 50%
    ),
    linear-gradient(90deg, rgb(53 50 50) 0%, rgb(0 0 0) 17%, rgb(0 0 0 / 0%) 100%),
    linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
    linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
    linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0 / 84%) 100%),
    linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 17%) 17%, rgb(0 0 0 / 14%) 100%),
    linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0 / 0%) 100%);

  background-size:
    100% 100%,
    57px,
    57px,
    57px,
    57px,
    57px,
    57px;
  background-position: 0px, 56px, 112px, 167px, 224px, 280px;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 212px;
}

.hero-links {
  display: flex;
  gap: 4px;
}

.hero-social-link {
  display: flex;
  gap: 4px;
}

.hero-link-a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  text-decoration: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailto {
  width: 178px;
}

.hero-link-a:hover,
.hero-link-a:focus {
  border-color: var(--white-text-color);
}

/* @media only screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-mob@2x.png);
  }
} */
@media only screen and (min-width: 768px) {
  .section-hero {
    padding-bottom: 32px;
  }
  .hero {
    min-width: 768px;
    padding-top: 300px;
    /* padding-bottom: 112px; */
    /* background-image: url(../../img/hero/bg-tab@1x.png); */

    /* background-image: linear-gradient(90deg, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 33%) 17%, rgb(0 0 0 / 58%) 100%), 
    linear-gradient(to right, #ED3B44, #69292D, #1C1D20 50%);
  
    background-size: 11.20%, 100% 100%; */

    background-image: linear-gradient(
        to right,
        rgba(237, 59, 68, 0.8),
        rgba(105, 41, 45, 0.8),
        rgb(28 29 32 / 86%) 50%
      ),
      linear-gradient(90deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 66%) 17%, rgb(0 0 0 / 0%) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0) 17%, rgb(0 0 0 / 36%) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 78%) 17%, rgb(0 0 0 / 13%) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%);

    background-size:
      100% 100%,
      63px,
      63px,
      63px,
      63px,
      63px,
      63px,
      63px,
      63px,
      63px;
    background-position: 0px, 63px, 126px, 189px, 252px, 315px, 378px, 441px, 504px;
  }

  .hero-title {
    font-size: 90px;
    width: 632px;
    margin-bottom: 187px;
  }

  .hero-links {
    justify-content: flex-end;
  }

  .hero-link-a {
    font-size: 16px;
    width: 55px;
    height: 55px;
  }

  .mailto {
    width: 223px;
  }
}

/* @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-tab@2x.png);
  }
} */
@media only screen and (min-width: 1440px) {
  .hero {
    max-width: 100%;
    padding-top: 315px;
    /* padding-bottom: 188px;  */
    /* background-image: url(../../img/hero/bg-desk@1x.png); */

    background-image: linear-gradient(
        90deg,
        rgb(0 0 0 / 36%) 0%,
        rgb(0 0 0 / 33%) 17%,
        rgb(0 0 0 / 58%) 100%
      ),
      linear-gradient(to right, #ed3b44, #69292d, #1c1d20 50%);

    background-size:
      5%,
      100% 100%;

    background-image: linear-gradient(
        to right,
        rgba(237, 59, 68, 0.8),
        rgba(105, 41, 45, 0.8),
        rgb(28 29 32 / 86%) 50%
      ),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0) 17%, rgb(0 0 0 / 0%) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0) 17%, rgb(0 0 0 / 36%) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0) 100%),
      linear-gradient(90deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 47%) 17%, rgb(0 0 0 / 52%) 100%),
      linear-gradient(90deg, rgb(0 0 0 / 97%) 0%, rgb(0 0 0 / 0%) 17%, rgb(0 0 0 / 0%) 100%);

    background-size:
      100% 100%,
      66px,
      66px,
      66px,
      66px,
      66px,
      66px,
      66px,
      66px,
      66px,
      66px,
      66px;
    background-position: 0px, 66px, 132px, 198px, 264px, 330px, 396px, 462px, 528px, 594px, 660px;
  }

  .hero-title {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 228px;
  }
}

/* @media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-desk@2x.png);
  }
} */
