.section-hero {
  padding-bottom: 48px;
}

.hero {
  max-width: 375px;
  padding-top: 281px;
  padding-bottom: 32px;

  background-image: url(../../img/hero/bg-mob@1x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 212px;
}
.hero-links {
  display: flex;
  gap: 4px;
}
.hero-social-link {
  display: flex;
  gap: 4px;
}

.hero-link-a {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  text-decoration: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
}

.mailto {
  width: 178px;
}

.hero-link-a:hover,
.hero-link-a:focus {
  border-color: var(--white-text-color);
}

@media only screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-mob@2x.png);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    padding-top: 300px;
    /* padding-bottom: 112px; */
    background-image: url(../../img/hero/bg-tab@1x.png);
  }
  .hero-title {
    font-size: 90px;
    width: 632px;
    margin-bottom: 187px;
  }

  .hero-links {
    justify-content: flex-end;
  }

  .hero-link-a {
    font-size: 16px;
    width: 55px;
    height: 55px;
  }
  .mailto {
    width: 223px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-tab@2x.png);
  }
}
@media only screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding-top: 315px;
    /* padding-bottom: 188px;  */
    background-image: url(../../img/hero/bg-desk@1x.png);
  }
  .hero-title {
    width: 1084px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 228px;
  }
}
@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../../img/hero/bg-desk@2x.png);
  }
}
