:root {
  --white-text-color: #fafafa;
  --arrow-color: #3b3b3b;
  --accent-color: #ed3b44;
  --background-color: #1c1d20;
  --cards-background-color: #242527;
  --middle-gradient-color: #69292d;
  --button-border-color: #fafafa33;
  --grey-title-color: #fafafa66;
  --grey-text-color: #fafafa99;
  --text-shadow: #fafafa40;
  --icon-accent: #450306;
  --modal-border-color: #fafafa1a;
  --button-hover-color: #e0373f;
  --succes-message-color: #3cbc81;
  --not-succes-message-color: #e74a3b;
}

.about-me-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .about-me-section {
    padding-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .about-me-section {
    padding-top: 48px;
    padding-bottom: 82px;
  }
}
.about-me-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
/* @media (min-width: 375px) {
} */

.about-me-firstpart {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .about-me-firstpart {
    padding-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .about-me-firstpart {
    flex-direction: row;
    gap: 16px;
    padding-bottom: 48px;
  }
}
.about-me-divtext {
  padding: 32px 32px 272px 32px;
  border-radius: 24px;
  width: 343px;
  height: 500px;
  background-color: var(--cards-background-color);
}
@media (min-width: 768px) {
  .about-me-divtext {
    padding: 64px 64px 436px 64px;
    width: 704px;
    height: 700px;
  }
}
@media (min-width: 1440px) {
  .about-me-divtext {
    width: 680px;
  }
}
.about-me-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media (min-width: 768px) {
  .about-me-text {
    font-size: 38px;
    line-height: 1.05263;
  }
}

.about-me-functional {
  color: var(--color-primary);
}
.about-me-websites {
  color: var(--grey-title-color);
}
.about-me-thumb {
  border-radius: 24px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
@media (min-width: 375px) {
  .about-me-thumb {
    width: 343px;
  }
}

@media (min-width: 768px) {
  .about-me-thumb {
    height: 700px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .about-me-thumb {
    width: 680px;
  }
}
.about-me-thumb .about-me-img {
  object-fit: cover;
}
.about-me-secondpart {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .about-me-secondpart {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .about-me-secondpart {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.about-me-secondlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .about-me-secondlist {
    gap: 32px;
  }
}
.about-me-header-n-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.about-me-header-third {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--grey-title-color);
}

section .about-me-header-n-btn .about-me-btn-aboutme {
  border: 1px solid var(--grey-text-color);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  width: 36px;
  height: 36px;
  background-color: inherit;
}
section .ac .ac-trigger::after {
  display: none;
}
@media (min-width: 768px) {
  .about-me-btn-aboutme {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}
.about-me-secondpart-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  padding: 0px;
}
@media (min-width: 768px) {
  .about-me-secondpart-text {
    padding: 0px;
  }
}
@media (min-width: 1440px) {
  .about-me-secondpart-text {
    padding: 8px 68px 32px 696px;
  }
}

.about-me-arrow-up {
  background-color: var(--background-color);
  transform: rotate(180);
}
.about-me-secondlist-item .ac-trigger[aria-expanded='false'] .about-me-arrow-up {
  transform: rotate(180deg);
}
.about-me-secondlist-item .ac-trigger[aria-expanded='true'] .about-me-arrow-down {
  transform: rotate(180deg);
}
.about-me-arrow-down {
  background-color: var(--background-color);
}
.about-me-secondlist .about-me-secondlist-item {
  color: inherit;
  background-color: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px rgba(250, 250, 250, 0.4);
}

.about-me-section .about-me-thirdpart {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 343px;
  height: 130px;
  overflow: visible;
}

@media (min-width: 768px) {
  .about-me-section .about-me-thirdpart {
    padding-top: 32px;
    width: 704px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .about-me-section .about-me-thirdpart {
    padding-top: 48px;
    width: 1312px;
    height: 200px;
  }
}

.about-me-section .about-me-skillslist {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 130px;
  overflow: hidden;
  gap: 0px;
}
@media (min-width: 768px) {
  .about-me-section .about-me-skillslist {
    width: 600px;
    height: 200px;
    overflow: hidden;
  }
}
@media (min-width: 1440px) {
  .about-me-section .about-me-skillslist {
    width: 1200px;
    height: 200px;
    overflow: hidden;
  }
}

.about-me-section .about-me-skillslist-item {
  border-radius: 100%;
  background-color: var(--background-color);
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  flex-shrink: 1;
}
@media (min-width: 768px) {
  .about-me-section .about-me-skillslist-item {
    width: 200px;
    height: 200px;
  }
}

<<<<<<< Updated upstream
.is-active {
  background-color: var(--color-primary);
=======
section .about-me-skillslist .is-activve {
  background-color: var(--accent-color);
>>>>>>> Stashed changes
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
}
@media (min-width: 768px) {
  .is-activve {
    width: 200px;
    height: 200px;
  }
}

.about-me-section .about-me-skillslist-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
}
/* 
@media (max-width: 767px) {
  .about-me-skillslist li:nth-child(n + 3) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .about-me-skillslist li:nth-child(n + 4) {
    display: none;
  }
} */
@media (min-width: 768px) {
  .about-me-section .about-me-skillslist-text {
    font-size: 20px;
  }
}
.about-me-skillslist .swiper-slide-active {
  background-color: var(--button-hover-color);
  border: none;
}
.about-me-section .about-me-btn-right {
  background-color: inherit;
  border: none;
  padding: 10px;
  width: 28px;
  height: 40px;
  display: inline;
  margin: 0;
}
@media (min-width: 768px) {
  .about-me-section .about-me-btn-right {
    background-color: inherit;
    border: none;
    padding: 10px;
    width: 28px;
    height: 28px;
  }
}
.about-me-btn-right.swiper-button-next::after {
  content: '';
}
.about-me-section .about-me-arrow-right {
  stroke: var(--arrow-color);
  height: 28px;
  width: 28px;
}
@media (min-width: 768px) {
  .about-me-section .about-me-arrow-right {
    height: 40px;
    width: 40px;
  }
}
