.about-me-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .about-me-section {
    padding-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .about-me-section {
    padding-top: 48px;
    padding-bottom: 82px;
  }
}
.about-me-thumb img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
/* @media (min-width: 375px) {
} */

.about-me-firstpart {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .about-me-firstpart {
    padding-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .about-me-firstpart {
    flex-direction: row;
    gap: 16px;
    padding-bottom: 48px;
  }
}
.about-me-divtext {
  padding: 32px 32px 272px 32px;
  border-radius: 24px;
  width: 100%;
  height: 500px;
  background-color: var(--cards-background-color);
}
@media (min-width: 768px) {
  .about-me-divtext {
    padding: 64px 64px 436px 64px;
    width: 704px;
    height: 700px;
  }
}
@media (min-width: 1440px) {
  .about-me-divtext {
    width: 680px;
  }
}
.about-me-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media (min-width: 768px) {
  .about-me-text {
    font-size: 38px;
    line-height: 1.05263;
  }
}

.about-me-functional {
  color: var(--color-primary);
}
.about-me-websites {
  color: var(--grey-text-color);
}
.about-me-thumb {
  border-radius: 24px;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
@media (min-width: 375px) {
  .about-me-thumb {
    width: 343px;
  }
}

@media (min-width: 768px) {
  .about-me-thumb {
    height: 700px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .about-me-thumb {
    width: 680px;
  }
}
.about-me-thumb .about-me-img {
  object-fit: cover;
}
.about-me-secondpart {
  max-width: 100%;
  padding-top: 16px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .about-me-secondpart {
    padding-top: 32px;
    padding-bottom: 64px;
  }
}
@media (min-width: 1440px) {
  .about-me-secondpart {
    padding-top: 48px;
    padding-bottom: 96px;
  }
}
.about-me-secondlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .about-me-secondlist {
    gap: 32px;
  }
}
.about-me-header-n-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 36px;
  justify-content: space-between;
  margin: 0px;
}

.about-me-header-n-btn {
  margin-bottom: 32px;
}

.about-me-header-third {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--grey-title-color);
}

section .about-me-header-n-btn .about-me-btn-aboutme {
  border: 1px solid var(--grey-text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  width: 36px;
  height: 36px;
  background-color: inherit;
}

section .about-me-header-n-btn .about-me-btn-aboutme:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section .ac .ac-trigger::after {
  display: none;
}
@media (min-width: 768px) {
  .about-me-btn-aboutme {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}
/* @media (max-width: 767px) {
  .about-panel {
    padding-bottom: 12px;
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .about-panel {
    padding-bottom: 12px;
    padding-top: 20px;
  }
} */
.about-me-secondpart-text {
  padding-top: 12px;
  padding-bottom: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
}
@media (min-width: 768px) {
  .about-me-secondpart-text {
    padding-top: 12px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .about-me-secondpart-text {
    padding: 8px 68px 32px 696px;
  }
}

.about-text-about-me {
  padding-bottom: 32px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .about-text-about-me {
    padding-bottom: 16px;
  }
}
.about-text-role {
  padding-bottom: 10px;
}

.about-text-education {
  padding-bottom: 10px;
}
.about-me-secondlist-item .ac-trigger[aria-expanded='false'] .about-me-arrow-up {
  background-color: var(--background-color);
  transform: rotate(180deg);
}
.about-me-secondlist-item .ac-trigger[aria-expanded='true'] .about-me-arrow-down {
  transform: rotate(180deg);
  background-color: var(--background-color);
}

.about-me-secondlist .about-me-secondlist-item {
  color: inherit;
  background-color: inherit;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px rgba(250, 250, 250, 0.4);
  margin: 0px;
}

.about-me-section .about-me-thirdpart {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 130px;
  overflow: visible;
  display: flex;
  gap: 0px;
}
@media (min-width: 375px) {
  .about-me-section .about-me-thirdpart {
    gap: 55px;
  }
}
@media (min-width: 768px) {
  .about-me-section .about-me-thirdpart {
    width: 704px;
    height: 200px;
    gap: 64px;
  }
}
@media (min-width: 1440px) {
  .about-me-section .about-me-thirdpart {
    width: 1312px;
    height: 200px;
    gap: 72px;
  }
}
.about-me-section .about-me-swiper-container {
  width: 260px;
  height: 130px;
  margin: 0;
}
@media (min-width: 768px) {
  .about-me-section .about-me-swiper-container {
    width: 600px;
    height: 200px;
  }
}

@media (min-width: 1440px) {
  .about-me-section .about-me-swiper-container {
    width: 1200px;
    height: 200px;
  }
}

section .about-me-section .about-me-skillslist {
  display: flex;
  flex-direction: row;
  width: 260px;
  height: 130px;
}
@media (min-width: 768px) {
  .about-me-section .about-me-skillslist {
    width: 600px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .about-me-section .about-me-skillslist {
    width: 1200px;
    height: 200px;
  }
}
.about-me-section .about-me-skillslist-item {
  border-radius: 50%;
  background-color: var(--background-color);
  width: 130px;
  height: 130px;
  margin-right: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
}
@media (min-width: 768px) {
  .about-me-section .about-me-skillslist-item {
    width: 200px;
    height: 200px;
  }
}

.about-me-section .about-me-skillslist-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
}

@media (min-width: 768px) {
  .about-me-section .about-me-skillslist-text {
    font-size: 20px;
  }
}
.about-me-skillslist .swiper-slide-active {
  background-color: var(--color-primary);
  border: none;
}
.about-me-section .about-me-btn-right {
  background-color: inherit;
  border: none;
  padding: 0px;
  width: 28px;
  height: 28px;
  display: flex;
  margin: 0;
  position: static;
  justify-content: center;
  align-items: center;
}
.about-me-section .about-me-btn-right:active {
  transform: translateY(2px);
}

@media (min-width: 768px) {
  .about-me-section .about-me-btn-right {
    background-color: inherit;
    border: none;
    padding: 0px;
    width: 40px;
    height: 40px;
  }
}
.about-me-btn-right.swiper-button-next::after {
  content: '';
}
.about-me-section .about-me-arrow-right {
  stroke: var(--arrow-color);
  height: 28px;
  width: 28px;
}
@media (min-width: 768px) {
  .about-me-section .about-me-arrow-right {
    height: 40px;
    width: 40px;
  }
}
