.projects {
  padding-top: 20px;
  padding-bottom: 32px;
}

.projects-card {
  border-radius: 24px;
}

.projects-heading {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.projects-list {
  margin-bottom: 32px;
}

.card-description {
  padding: 32px;
  background-color: var(--white-text-color);
  border-radius: 24px 24px 0 0px;
}

.card-image-block {
  display: flex;
  justify-content: center;
  padding: 100px 16px;
  background-color: var(--cards-background-color);
  border-radius: 0 0 24px 24px;
}

.card-description-list {
  display: flex;
  gap: 6px;
  margin-bottom: 96px;
  flex-wrap: wrap;
}

.card-text {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: var(--background-color);
}

.description-list-item {
  padding: 13px 18px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--font-color);
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
}

.card-button {
  display: flex;
  align-items: center;
  width: 145px;
  height: 45px;
  box-sizing: border-box;
  padding: 13px 32px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--main-text);
  border-radius: 60px;
  color: var(--white-text-color);
  background-color: var(--color-primary);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-button:hover,
.card-button:focus {
  background-color: var(--hover-color);
}

.projects-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 2px;
}

.projects-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  stroke: var(--white-text-color);
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.projects-button:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects-previous-button[disabled],
.projects-next-button[disabled] {
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: var(--arrow-color);
  border: 1px solid var(--arrow-color);
}

.projects-previous-button[disabled] .projects-previous-image,
.projects-next-button[disabled] .projects-next-image {
  stroke: var(--arrow-color);
}

.projects-button-image {
  width: 24px;
  height: 24px;
  stroke: rgb(250, 250, 250);
}

/* TABLET */
@media screen and (min-width: 768px) {
  .projects {
    padding: 48px 0;
  }

  .card-description {
    padding: 64px;
  }

  .card-description-list {
    margin-bottom: 164px;
  }

  .card-button {
    padding: 18px 50px;
    width: 177px;
    height: 55px;
  }

  .card-text {
    font-size: 44px;
    line-height: 100%;
    width: 494px;
  }

  .card-image-block {
    padding: 120px 45px;
  }

  .projects-buttons {
    gap: 20px;
  }

  .projects-button {
    width: 68px;
    height: 68px;
    padding: 18px;
  }

  .projects-button-image {
    width: 32px;
    height: 32px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .projects {
    padding: 82px 0;
  }

  .projects-card {
    display: flex !important;
  }

  .card-description {
    width: 688px;
    border-radius: 24px 0 0 24px;
  }

  .card-description-list {
    margin-bottom: 223px;
  }

  .card-image-block {
    padding: 120px 37px;
    border-radius: 0 24px 24px 0;
  }

  .projects-button:hover {
    cursor: pointer;
  }
}
