.section-faq {
  padding-top: 32px;
  padding-bottom: 32px;
}

.faq-title-section {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--grey-title-color);
  margin-bottom: 32px;
}

.faq-item {
  background-color: inherit !important;
  border-top: 1px solid var(--button-border-color) !important;
  padding: 20px 0 !important;
}

.faq-item:last-child {
  border-bottom: 1px solid var(--button-border-color) !important;
  padding: 20px 0 !important;
}

.faq-container {
  display: flex;
  justify-content: space-between;
}

.faq-title {
  font-family: 'Inter Tight', sans-serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 1.5 !important;
  letter-spacing: -0.02em !important;
  padding-bottom: 16px !important;
  color: var(--white-text-color) !important;
}

.faq-text {
  font-family: 'Inter Tight', sans-serif !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  letter-spacing: -0.02em !important;
  color: var(--grey-text-color) !important;

  overflow: hidden !important;
  transition-property: height, visibility !important;
  transition-timing-function: ease !important;
}

.faq-btn {
  display: flex !important;
  text-align: center !important;
  border: 1px solid var(--button-border-color) !important;
  border-radius: 100px !important;
  padding: 7px !important;
  width: 34px !important;
  height: 34px !important;
  background-color: inherit !important;
  cursor: pointer !important;
}

.ac-trigger[aria-expanded='true'] .faq-icon {
  transform: rotate(180deg);
  background-color: var(--background-color);
}

section .ac {
  border: none;
}

.faq-icon {
  width: 20px;
  height: 20px;
  stroke: var(--white-text-color);
}

@media only screen and (min-width: 1440px) {
  .faq-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }

  .faq-item {
    background-color: inherit !important;
    flex-basis: 50% !important;
  }

  .faq-item:nth-child(1) {
    order: 1 !important;
    padding-right: 32px !important;
    border-right: 1px solid var(--button-border-color) !important;
  }

  .faq-item:nth-child(2) {
    order: 3 !important;
    padding-right: 32px !important;
    border-right: 1px solid var(--button-border-color) !important;
  }

  .faq-item:nth-child(3) {
    order: 5 !important;
    padding-right: 32px !important;
    border-right: 1px solid var(--button-border-color) !important;
    border-bottom: 1px solid var(--button-border-color) !important;
  }

  .faq-item:nth-child(4) {
    order: 2 !important;
    padding-left: 32px !important;
  }

  .faq-item:nth-child(5) {
    order: 4 !important;
    padding-left: 32px !important;
  }

  .faq-item:nth-child(6) {
    order: 6 !important;
    padding-left: 32px !important;
  }
}

.ac {
  margin-top: 0px !important;
}
