.covers {
  padding-top: 82px;
  padding-bottom: 82px;
}

.covers-container {
  position: relative;
  overflow: hidden;

  height: 508px;
  background: linear-gradient(rgba(217, 217, 217, 0.04), rgba(217, 217, 217, 0.04)),
    radial-gradient(closest-side, var(--color-primary), var(--color-secondary), transparent 70%),
    radial-gradient(closest-side, var(--color-primary), var(--color-secondary), transparent 100%),
    radial-gradient(closest-side, var(--color-primary), var(--color-secondary), transparent 100%);

  background-size:
    100% 100%,
    550px 500px,
    600px 600px,
    500px 450px;
  background-repeat: no-repeat;
  background-position:
    top 100% right 100%,
    top 20px left -80px,
    top 600px left 1000px,
    top -100px left 400px;
}

@media screen and (min-width: 768px) {
  .covers-container {
    height: 960px;
  }
}

.covers-list {
  position: absolute;
  right: -800px;
  left: 100px;
}

@media screen and (min-width: 1440px) {
  .covers-list {
    left: 400px;
    right: -1800px;
  }
}

.covers-item:nth-child(1) {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .covers-item:nth-child(1) {
    display: flex;
    justify-content: flex-end;
  }
}

.covers-item {
  height: 200px;
  display: flex;
  align-items: center;
  transform: rotate(17deg);
}

@media screen and (min-width: 768px) {
  .covers-item {
    height: 400px;
  }
}

.covers-picture {
  flex-shrink: 0;
  margin-right: 40px;
}

@media screen and (min-width: 768px) {
  .covers-picture {
    margin-right: 70px;
  }
}

.covers-img {
  width: 280px;
}

@media screen and (min-width: 768px) {
  .covers-img {
    width: 540px;
  }
}

@keyframes marqueeLine {
  from {
    transform: translateX(-60%);
  }

  to {
    transform: translateX(-150%);
  }
}

.js-animation {
  animation-name: marqueeLine;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
