/* #region mobile first */

.reviews-container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-color: var(--background);
}

.reviews-section {
margin-top: 32px;
margin-bottom: 32px;
}

.review-buttons {
  display: flex;
}

.slider-buttons {
  margin-top: 32px;
  margin-bottom: 2px;
  gap: 20px;

  display: flex;
  justify-content: center;
}

.thumbnail {
  background: var(--white-text-color);
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-title {
  text-align: left;
  font: 600 16px/1.5 -0.02em;
  color: var(--grey-title-color);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.reviews-list {
  margin-bottom: 32px;
}

.reviews-list-item {
  width: 343px;
  
  padding: 32px 24px 32px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.author {
  margin-bottom: 8px;
  font: 600 20px/1.5 -0.02em;
  color: var(--white-text-color);
}

.opinion {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 295px;
}

.review {
  max-width: 295px;
  height: 120px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  opacity: 0.6;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
}

/* #endregion mobile first */

/* #region scrollbar */

/*  */
.review::-webkit-scrollbar {
  width: 15px;
}

.review::-webkit-scrollbar {
  width: 15px; /* Ширина полоски прокрутки */
}

.review::-webkit-scrollbar-track {
  background: transparent;
}

.review::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--cards-background-color), var(--color-primary));
  border-radius: 20px;
  border: 3px solid var(--background-color);
}

.review::-webkit-scrollbar-thumb:hover {
  background: var(--white-text-color);
}

.btn-prev-review,
.btn-next-review {
  display: flex;
  width: 52px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background-color: transparent;
  stroke: var(--white-text-color);
  border: 1px solid rgba(250, 250, 250, 0.5);
  transition: background-color 0.3s ease;
  overflow: visible;
  cursor: pointer;
}


.btn-prev-review[disabled],
.btn-next-review[disabled] {
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: var(--arrow-color);
  border: 1px solid var(--arrow-color);
}

.btn-prev-review[disabled] .reviews-arrow-left,
.btn-next-review[disabled] .reviews-arrow-right {
  stroke: var(--arrow-color);
}

.btn-prev-review:active,
.btn-next-review:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.reviews-arrow-left,
.reviews-arrow-right {
  stroke: var(--white-text-color);
  width: 24px;
  height: 24px;
}

.btn-style {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  background-color: var(--background-color);
}

/* #region tablet */

@media screen and (min-width: 768px) {
  .reviews-section {
    margin: 48px 32px;
}

  .reviews-container {
    max-width: 768px;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .reviews-list-item {
    width: 344px;
  }

  .reviews-arrow-left,
  .reviews-arrow-right {
    width: 32px;
    height: 32px;
  }

  #swiper3 .btn-prev-review,
  #swiper3 .btn-next-review {
    width: 68px;
    height: 68px;
  }
}

/* #endregion tablet */

/* #region desktop */

@media screen and (min-width: 1440px) {
  .reviews-section {
    margin: 82px 0;
  }

  .reviews-container {
    max-width: 1440px;
  }

  .reviews-list-item {
    width: 332px;
  }

  .review {
    width: 284px;
  }
}

/*  #endregion desktop */
