@import 'izitoast/dist/css/iziToast.min.css';

footer {
  background: linear-gradient(
    90deg,
    var(--font-color) 90%,
    rgb(0 0 0 / 10%) 92%,
    rgb(0 0 0 / 4%) 92.5%,
    rgb(0 0 0 / 6%) 100%
  );
}

@media screen and (min-width: 768px) {
  footer {
    background: linear-gradient(
      90deg,
      var(--font-color) 75%,
      rgb(0 0 0 / 10%) 76.4%,
      rgb(0 0 0 / 4%) 76.4%,
      rgb(0 0 0 / 6%) 85%,

      rgb(0 0 0 / 10%) 87%,
      rgb(0 0 0 / 4%) 85%,
      rgb(0 0 0 / 6%) 90%,

      rgb(0 0 0 / 10%) 96%,
      rgb(0 0 0 / 4%) 90%,
      rgb(0 0 0 / 6%) 90%,

      rgb(0 0 0 / 10%) 96%,
      rgb(0 0 0 / 4%) 90%,
      rgb(0 0 0 / 6%) 90%,

      rgb(0 0 0 / 10%) 96%,
      rgb(0 0 0 / 4%) 90%,
      rgb(0 0 0 / 6%) 90%,

      rgb(0 0 0 / 10%) 96%,
      rgb(0 0 0 / 4%) 90%,
      rgb(0 0 0 / 6%) 100%
    );
  }
}

@media only screen and (min-width: 1440px) {
  footer {
    background: linear-gradient(
      90deg,
      var(--font-color) 72%,
      rgb(0 0 0 / 10%) 72.4%,
      rgb(0 0 0 / 4%) 72.8%,
      rgb(0 0 0 / 6%) 78%,

      rgb(0 0 0 / 10%) 78%,
      rgb(0 0 0 / 4%) 78.4%,
      rgb(0 0 0 / 6%) 83%,

      rgb(0 0 0 / 10%) 83%,
      rgb(0 0 0 / 4%) 83.4%,
      rgb(0 0 0 / 6%) 87%,

      rgb(0 0 0 / 10%) 87%,
      rgb(0 0 0 / 4%) 87.4%,
      rgb(0 0 0 / 6%) 91%,

      rgb(0 0 0 / 10%) 91%,
      rgb(0 0 0 / 4%) 91.4%,
      rgb(0 0 0 / 6%) 95%,

      rgb(0 0 0 / 10%) 95%,
      rgb(0 0 0 / 4%) 95.4%,
      rgb(0 0 0 / 6%) 100%
    );
  }
}

footer {
  background-color: var(--background-color);
  padding: 32px 0;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 80px 0;
  }
}

footer .container {
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 1440px) {
  footer .container {
    width: 1048px;
    padding: 0;
  }
}

.footer-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);

  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .footer-title {
    font-size: 64px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-title {
    margin-bottom: 18px;
  }
}

.footer-title-upper-part {
  display: block;
  margin-left: 52px;

  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .footer-title-upper-part {
    margin-left: 90px;

    margin-bottom: 10px;
  }
}

.footer-title-accent {
  color: var(--color-primary);
}

.footer-title-image {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-title-image {
    width: 70px;
    height: 70px;
    left: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-title-image {
    left: 0;
  }
}

.footer-form {
  width: 343px;
  display: flex;
  flex-direction: column;

  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    width: 704px;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-form {
    width: 1048px;
  }
}

.footer-input-container {
  width: 343px;
  height: 44px;
  margin-bottom: 16px;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .footer-input-container {
    width: 245px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-input-container {
    width: 390px;
  }
}

.footer-input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  background-color: transparent;
  text-decoration: none;

  width: 100%;
  height: 100%;
  padding: 0;
  padding-bottom: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-border-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: var(--grey-text-color);
}

.footer-input:focus {
  border-color: var(--white-text-color);
}

.footer-input:focus.input-error {
  border-color: var(--not-succes-message-color);
}

.footer-input:focus.input-success {
  border-color: var(--succes-message-color);
}

.input-error {
  border-color: var(--not-succes-message-color);
}

.input-success {
  border-color: var(--succes-message-color);
}

.footer-label.is-open {
  opacity: 1;
}

.footer-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  opacity: 0;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
}

.success-label {
  color: var(--succes-message-color);
}

.error-label {
  color: var(--not-succes-message-color);
}

.footer-send-button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  background-color: var(--color-primary);
  cursor: pointer;

  width: 100px;
  height: 100px;
  padding: 0;
  border-radius: 100%;
  border: none;
  z-index: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-top: 16px;
}

.footer-send-button:active {
  background-color: var(--hover-color);
}

@media only screen and (min-width: 768px) {
  .footer-send-button {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-send-button {
    margin-left: 54px;
  }

  .footer-send-button:hover,
  .footer-send-button:focus {
    background-color: var(--hover-color);
    outline: none;
  }
}

.footer-address {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .footer-address {
    gap: 8px;
  }
}

.footer-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--white-text-color);
  text-decoration: none;

  outline: 1px solid var(--button-border-color);
  border-radius: 60px;
  padding: 10px 12px;
  z-index: 1;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:active {
  outline-color: var(--white-text-color);
}

@media only screen and (min-width: 768px) {
  .footer-link {
    font-size: 16px;
    padding: 18px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-link:hover,
  .footer-link:focus {
    outline-color: var(--white-text-color);
  }
}
