  .menu-box.is-open {
    opacity: 1;
  }

  @media only screen and (max-width: 768px) {
    .menu-box {
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      position: fixed;
      z-index: 889;
      padding: 32px 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      transition: opacity 0.5s ease;
    }

    .menu-box.visually-hidden {
      opacity: 0;
    }

    body.modal-open {
      overflow-y: hidden;
    }

    .image-mob-menu {
      background-image: linear-gradient(90deg,
          rgb(0 0 0 / 20%) 0%,
          rgb(0 0 0 / 20%) 16.67%,
          rgb(183 183 183 / 20%) 100%),
        linear-gradient(90deg,
          rgb(0 0 0 / 20%) 0%,
          rgb(0 0 0 / 20%) 16.67%,
          rgb(169 169 169 / 20%) 100%),
        linear-gradient(90deg,
          rgb(0 0 0 / 20%) 0%,
          rgb(0 0 0 / 20%) 16.67%,
          rgb(147 147 147 / 20%) 100%),
        linear-gradient(90deg,
          rgb(0 0 0 / 20%) 0%,
          rgb(0 0 0 / 20%) 16.67%,
          rgb(189 187 187 / 20%) 100%),
        linear-gradient(90deg,
          rgb(0 0 0 / 20%) 0%,
          rgb(0 0 0 / 20%) 16.67%,
          rgb(140 136 136 / 20%) 100%),
        linear-gradient(90deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 16.67%, rgb(92 91 91 / 10%) 100%),
        linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--font-color) 50%);

      background-size:
        57px,
        57px,
        57px,
        57px,
        57px,
        57px,
        100% 100%;
      background-position: 0px, 56px, 112px, 167px, 224px, 280px;
      background-repeat: no-repeat;
    }

    .button-mob-menu {
      justify-content: right;
      background-color: transparent;
      border: none;
      padding: 0px;
      height: 32px;
      cursor: pointer;
      transition: 250ms linear;
    }

    .menu-item {
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
    }

    .menu-link {
      color: var(--white-text-color);
      font-weight: 500;
      line-height: 19px;
      letter-spacing: -0.02em;
      transition: color 250ms linear;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    .modal-order-btn {
      display: flex;
      justify-content: center;
      background-color: var(--color-primary);
      border-radius: 60px;
      padding: 14px 31px;
      width: 164px;
      height: 45px;
      border: none;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.02em;
      color: var(--white-text-color);
      align-items: center;
      transition: background-color 250ms linear;
    }

    .modal-order-btn:hover,
    .modal-order-btn:focus {
      background-color: var(--button-hover-color);
    }

    .modal-order {
      display: flex;
      justify-content: center;
    }
  }

  .modal-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
  }

  @media screen and (max-width: 768px) {
    .header-select-modal {
      display: flex;
      position: relative;
      height: 28px;
      padding: 0px;

    }
  }