:root {
    --white-text-color: #fafafa;
    --arrow-color: #3b3b3b;
    --accent-color: #ed3b44;
    --background-color: #1c1d20;
    --cards-background-color: #242527;
    --middle-gradient-color: #69292d;
    --button-border-color: #fafafa33;
    --grey-title-color: #fafafa66;
    --grey-text-color: #fafafa99;
    --text-shadow: #fafafa40;
    --icon-accent: #450306;
    --modal-border-color: #fafafa1a;
    --button-hover-color: #e0373f;
    --succes-message-color: #3cbc81;
    --not-succes-message-color: #e74a3b;
}

.footer-modal-backdrop.is-open {
    opacity: 1;
}

.footer-modal-backdrop {
    background-color: rgba(15, 15, 16, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-overlay.is-open {
    opacity: 1;
}

.footer-modal-overlay {
    background-color: var(--background-color);
    border: 1px solid var(--modal-border-color);
    border-radius: 20px;
    padding: 64px 32px;
    width: 343px;
    height: 276px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .footer-modal-overlay {
        padding: 64px;
        width: 492px;
        height: 246px;
    }
}

.footer-modal-close-button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 22px;
    height: 22px;
    padding: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .footer-modal-close-button {
        width: 24px;
        height: 24px;
    }
}

.footer-modal-close-button-icon {
    fill: var(--white-text-color);
}

.footer-modal-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--white-text-color);
    width: 279px;

    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-modal-title {
        width: 364px;
    }
}

.footer-modal-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--grey-text-color);
}