.back-to-top {
  position: fixed;
  right: 0.5rem;
  bottom: 2rem;
  background-color: var(--color-primary);
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  border: none;
  z-index: 888;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 24px;
  height: 24px;
  color: var(--white-text-color);
}

.back-to-top:hover {
  opacity: 60%;
  background-color: var(--hover-color);
}

.back-to-top:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.progress-bar {
  height: 5px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media only screen and (min-width: 320px) {
  .back-to-top {
    width: 40.8px;
    height: 40.8px;
    padding: 10.8px;
  }

  .back-to-top-icon {
    width: 19.2px;
    height: 19.2px;
  }

  .progress-bar {
    height: 3px;
  }
}

@media only screen and (min-width: 768px) {
  .back-to-top {
    width: 68px;
    height: 68px;
    padding: 18px;
  }
  .back-to-top-icon {
    width: 32px;
    height: 32px;
  }
}
