.projects-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  stroke: var(--white-text-color);
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.projects-button:hover {
  cursor: pointer;
}

.projects-button:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .projects-button {
    width: 68px;
    height: 68px;
    padding: 18px;
  }
}
