<section class="header-section">
  <div class="header-container container">
    <div class="logo-container">
      <picture>
        <source media="(min-width:375px)" srcset="./img/header/image1x.jpg 1x, ./img/header/image2x.jpg 2x" />
        <img src="./img/header/image1x.jpg" alt="logo" width="80" height="80" class="logo-img" />
      </picture>

      <img src="./img/logo.svg" alt="owner-name" class="logo-text" />
    </div>

    <div class="menu-container container">
      <div class="drop-down-container">
        <button class="btn-drop-down" type="button" aria-label="Menu">Menu</button>
      </div>

      <ul class="list-menu-anchors visually-hidden">
        <li class="list-anchor-item">
          <a class="anchor-link" href="#about-me" aria-label="About me">About me</a>
        </li>
        <li class="list-anchor-item">
          <a class="anchor-link" href="#benefits" aria-label="Benefits">Benefits</a>
        </li>
        <li class="list-anchor-item">
          <a class="anchor-link" href="#projects" aria-label="Projects">Projects</a>
        </li>
        <li class="list-anchor-item">
          <a class="anchor-link" href="#faq" aria-label="FAQ">FAQ</a>
        </li>
      </ul>
    </div>

    <select class="header-select" aria-label="Color selector">
      <option value="blue" aria-label="Blue">Blue</option>
      <option value="red" aria-label="Red">Red</option>
      <option value="lime" aria-label="Yellow">Yellow</option>
      <option value="green" aria-label="Cyan">Cyan</option>
      <option value="ocher" aria-label="Orange">Orange</option>
    </select>

    <button type="button" class="button-menu" aria-label="Menu">
      <svg width="28" height="28">
        <use href="./img/icon.svg#icon-menu"></use>
      </svg>
    </button>
    <a class="order-btn" href="#order" aria-label="Order">Order the project</a>
  </div>
</section>