<section class="header-section">
  <h2 class="visually-hidden">header</h2>
  <div class="header-container container">
    <div class="logo-container">
      <picture>
        <source
          media="(min-width:375px)"
          srcset="./img/header/image1x.jpg 1x, ./img/header/image2x.jpg 2x"
        />
        <img
          src="./img/header/image1x.jpg"
          alt="logo"
          width="80"
          height="80"
          class="logo-img"
          loading="lazy"
        />
      </picture>

      <img src="./img/logo.svg" alt="owner-name" class="logo-text" loading="lazy" />
    </div>

    <div class="menu-container container">
      <div class="drop-down-container">
        <button class="btn-drop-down" type="button" aria-label="menu">Menu</button>
      </div>

      <ul class="list-menu-anchors visually-hidden">
        <li class="list-anchor-item">
          <a class="anchor-link" href="#about-me" aria-label="about me">About me</a>
        </li>
        <li class="list-anchor-item">
          <a class="anchor-link" href="#benefits" aria-label="benefits">Benefits</a>
        </li>
        <li class="list-anchor-item">
          <a class="anchor-link" href="#projects" aria-label="projects">Projects</a>
        </li>
        <li class="list-anchor-item">
          <a class="anchor-link" href="#faq" aria-label="faq">FAQ</a>
        </li>
      </ul>
    </div>

    <select class="header-select" aria-label="color selector">
      <option value="green">Cyan</option>
      <option value="blue">Blue</option>
      <option value="red">Red</option>
      <option value="lime">Yellow</option>
      <option value="ocher">Orange</option>
    </select>

    <button type="button" class="button-menu" aria-label="menu">
      <svg width="28" height="28">
        <use href="./img/icon.svg#icon-menu"></use>
      </svg>
    </button>
    <a class="order-btn" href="#order" aria-label="order">Order the project</a>
  </div>
</section>
