<section id="hero" class="section-hero">
  <div class="hero">
    <h1 class="hero-title">Hello.<br />I’m Fullstack developer Lloyd Jefferson.</h1>
    <div class="hero-links container">
      <ul class="hero-social-link">
        <li>
          <a
            class="hero-link-a"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferer"
            >IG</a
          >
        </li>
        <li>
          <a
            class="hero-link-a"
            href=" https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferer"
            >FB</a
          >
        </li>
        <li>
          <a
            class="hero-link-a"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferer"
            >YT</a
          >
        </li>
        <li>
          <a
            class="hero-link-a"
            href="https://github.com/qboww/js-snow-white-n-8-devs"
            target="_blank"
            rel="noopener noreferer"
            >GH</a
          >
        </li>
      </ul>

      <address>
        <a
          class="hero-link-a mailto"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferer"
          >lloydjefferson@gmail.com</a
        >
      </address>
    </div>
  </div>
</section>
