<section class="about-me-section" id="about-me">
    <div class="container">
        <h2 class="visually-hidden">About me</h2>
        <div class="about-me-firstpart">
            <div class="about-me-divtext">
                <p class="about-me-text">I work with people all over the world to create impressive and <span
                        class="about-me-functional">functional</span>
                    <span class="about-me-websites">websites</span> that reflect each
                    client's unique
                    personality.
                </p>
            </div>
            <div class="about-me-thumb">
                <picture>
                    <source media="(min-width:1440px)"
                        srcset="./img/about_me/about-me-desktop.jpg 1x, ./img/about_me/about-me-desktop@2x.jpg 2x" />
                    <source media="(min-width:768px)"
                        srcset="./img/about_me/about-me-tablet.jpg 1x, ./img/about_me/about-me-tablet@2x.jpg 2x" />
                    <source media="(min-width:375px)" srcset="
                                  ./img/about_me/about-me-mobile.jpg 1x,
                                  ./img/about_me/about-me-mobile@2x.jpg 2x
                                  " />


                    <img src="./img/about_me/about-me-desktop.jpg" alt="client" width="680" height="700"
                        class="about-me-img" />
                </picture>


            </div>
        </div>

        <div class="about-me-secondpart">
            <ul class="about-me-secondlist">
                <li class="about-me-secondlist-item ac">
                    <div class="about-me-header-n-btn">
                        <h3 class="about-me-header-third ac-header">ABOUT ME</h3>
                        <button class="about-me-btn-aboutme ac-trigger" type="button"><svg class="about-me-arrow-up"
                                width="20" height="20">
                                <use href="./img/icon.svg#icon-up"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="ac-panel">
                        <p class="about-me-secondpart-text ">I am Lloyd Jefferson, a talented programmer with
                            extensive
                            expertise in software development. I
                            have an understanding of
                            different programming languages and technologies, always ready to improve my skills. I
                            always
                            follow the latest trends
                            and look for unconventional, creative solutions to problems. I have a high level of
                            analytical
                            skills and am able to
                            effectively solve even the most difficult tasks encountered on the way.

                            Able to work both independently and in a team. I can effectively cooperate with colleagues,
                            exchanging ideas and finding
                            optimal solutions. Professional maturity allows you to calmly cope with challenges and
                            stressful
                            situations, while
                            maintaining a high quality of work.I am always looking for opportunities for
                            self-improvement.
                            I actively study new
                            technologies and practices to stay abreast of the latest innovations. I have a strong
                            understanding of various
                            programming languages, frameworks and architectural concepts that allow me to create
                            efficient
                            and scalable software.
                        </p>
                    </div>


                </li>
                <li class="about-me-secondlist-item ac">
                    <div class="about-me-header-n-btn">
                        <h3 class="about-me-header-third ac-header">ROLE</h3>
                        <button class="about-me-btn-aboutme ac-trigger" type="button"><svg class="about-me-arrow-down"
                                width="20" height="20">
                                <use href="./img/icon.svg#icon-down"></use>
                            </svg>

                        </button>
                    </div>
                    <div class="ac-panel">
                        <p class="about-me-secondpart-text">Frontend development
                            HeadlessCMS,Wordpress
                            Blender(enjoy)</p>
                    </div>

                </li>
                <li class="about-me-secondlist-item ac">
                    <div class="about-me-header-n-btn">
                        <h3 class="about-me-header-third ac-header">EDUCATION</h3>

                        <button class="about-me-btn-aboutme ac-trigger" type="button"><svg class="about-me-arrow-down"
                                width="20" height="20">
                                <use href="./img/icon.svg#icon-down"></use>
                            </svg>

                        </button>
                    </div>
                    <div class="ac-panel">
                        <p class="about-me-secondpart-text ">2018 - 2019 / Frontend Development Diploma, GoIT
                            IT School, New
                            York
                            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
                            2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
                    </div>

                </li>
            </ul>
        </div>
        <div class="about-me-thirdpart swiper">
            <ul class="about-me-skillslist swiper-wrapper">
                <li class="about-me-skillslist-item  swiper-slide ">
                    <p class="about-me-skillslist-text">HTML/CSS</p>
                </li>
                <li class="about-me-skillslist-item swiper-slide">
                    <p class="about-me-skillslist-text">JavaScript</p>
                </li>
                <li class="about-me-skillslist-item swiper-slide">
                    <p class="about-me-skillslist-text">React</p>
                </li>
                <li class="about-me-skillslist-item swiper-slide">
                    <p class="about-me-skillslist-text">Node. js</p>
                </li>
                <li class="about-me-skillslist-item swiper-slide">
                    <p class="about-me-skillslist-text">React Native</p>
                </li>
                <li class="about-me-skillslist-item swiper-slide">
                    <p class="about-me-skillslist-text">Soft skills</p>
                </li>
                <li class="about-me-skillslist-item swiper-slide">
                    <p class="about-me-skillslist-text">Soft skills</p>
                </li>
                <li class="about-me-skillslist-item swiper-slide">
                    <p class="about-me-skillslist-text">Soft skills</p>
                </li>
            </ul>
            <button class="about-me-btn-right swiper-button-next"><svg class="about-me-arrow-right">
                    <use href="./img/icon.svg#icon-arrow-right-dark"></use>
                </svg> </button>


        </div>

    </div>

</section>