<section class="projects" id="projects">
  <div class="container">
    <h2 class="projects-heading">Projects</h2>

    <div class="swiper projects-swiper">
      <ul class="projects-list swiper-wrapper">
        <li class="projects-card card swiper-slide">
          <div class="card-description">
            <ul class="card-description-list description-list">
              <li class="description-list-item">#react</li>
              <li class="description-list-item">#js</li>
              <li class="description-list-item">#node js</li>
              <li class="description-list-item">#git</li>
            </ul>

            <p class="card-text">Programming across borders: ideas, technologies, innovations</p>

            <a class="order-btn" href="https://github.com/qboww/js-snow-white-n-8-devs" target="_blank"
              aria-label="card-button">See project</a>
          </div>

          <div class="card-image-block image-block">
            <picture>
              <source media="(min-width: 768px)" srcset="
                  ./img/projects/projects-picture1-desc-tab@1x.webp 1x,
                  ./img/projects/projects-picture1-desc-tab@2x.webp 2x
                " />
              <source media="(min-width: 375px)" srcset="
                  ./img/projects/projects-picture1-mob@1x.webp 1x,
                  ./img/projects/projects-picture1-mob@2x.webp 2x
                " />
              <img src="./img/projects/projects-picture1-desc-tab@1x.png" alt="First project image" loading="lazy" />
            </picture>
          </div>
        </li>

        <li class="projects-card card swiper-slide">
          <div class="card-description">
            <ul class="card-description-list description-list">
              <li class="description-list-item">#react</li>
              <li class="description-list-item">#js</li>
              <li class="description-list-item">#node js</li>
              <li class="description-list-item">#git</li>
            </ul>

            <p class="card-text">Programming across borders: ideas, technologies, innovations</p>

            <a class="order-btn" href="https://github.com/qboww/js-snow-white-n-8-devs" target="_blank"
              aria-label="card-button">See project</a>
          </div>

          <div class="card-image-block image-block">
            <picture>
              <source media="(min-width: 768px)" srcset="
                  ./img/projects/projects-picture2-desc-tab@1x.webp 1x,
                  ./img/projects/projects-picture2-desc-tab@2x.webp 2x
                " />
              <source media="(min-width: 375px)" srcset="
                  ./img/projects/projects-picture2-mob@1x.webp 1x,
                  ./img/projects/projects-picture2-mob@2x.webp 2x
                " />
              <img src="./img/projects/projects-picture2-desc-tab@1x.png" alt="Second project image" loading="lazy" />
            </picture>
          </div>
        </li>

        <li class="projects-card card swiper-slide">
          <div class="card-description">
            <ul class="card-description-list description-list">
              <li class="description-list-item">#react</li>
              <li class="description-list-item">#js</li>
              <li class="description-list-item">#node js</li>
              <li class="description-list-item">#git</li>
            </ul>

            <p class="card-text">Programming across borders: ideas, technologies, innovations</p>

            <a class="order-btn" href="https://github.com/qboww/js-snow-white-n-8-devs" target="_blank"
              aria-label="card-button">See project</a>
          </div>

          <div class="card-image-block image-block">
            <picture>
              <source media="(min-width: 768px)" srcset="
                  ./img/projects/projects-picture3-desc-tab@1x.webp 1x,
                  ./img/projects/projects-picture3-desc-tab@2x.webp 2x
                " />
              <source media="(min-width: 375px)" srcset="
                  ./img/projects/projects-picture3-mob@1x.webp 1x,
                  ./img/projects/projects-picture3-mob@2x.webp 2x
                " />
              <img src="./img/projects/projects-picture3-desc-tab@1x.png" alt="Third project image" loading="lazy" />
            </picture>
          </div>
        </li>
      </ul>
      <div class="projects-buttons">
        <button class="btn-prev projects-button" type="button" aria-label="projects-previous-button">
          <svg class="projects-button-image projects-previous-image">
            <use href="./img/icon.svg#icon-arrow-left-dark"></use>
          </svg>
        </button>
        <button class="btn-next projects-button" type="button" aria-label="projects-next-button">
          <svg class="projects-button-image projects-next-image">
            <use href="./img/icon.svg#icon-arrow-right-white"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>