<section class="section-faq" id="faq">
    <div class="container">
        <h2 class="faq-title-section">FAQ</h2>
        <ul class="faq-list">
            <li class="faq-item">
                <div class="faq-container">
                    <h3 class="faq-title">What programming languages ​​are most often used in your
                        project?
                    </h3>
                    <button class="faq-btn" aria-label="open description">
                        <svg class="faq-icon">
                            <use href="./img/icon.svg#icon-down"></use>
                        </svg>
                    </button>
                </div>
                <p class="faq-text">
                    In the field of web development, there are various technologies and
                    programming languages. Typically, this includes a
                    combination of frontend (client side) and backend (server side)
                    languages.
                </p>
            </li>
            <li class="faq-item">
                <div class="faq-container">
                    <h3 class="faq-title">What are the deadlines for the project?
                    </h3>
                    <button class="faq-btn" aria-label="open description">
                        <svg class="faq-icon">
                            <use href="./img/icon.svg#icon-down"></use>
                        </svg>
                    </button>
                </div>
                <p class="faq-text">
                    The terms of project implementation depend to a large extent on a number of
                    factors, such as the scope of the project,
                    its complexity, and the availability of resources. Determining exact deadlines
                    is a difficult task, and it usually occurs during the planning phase of the
                    project.
                </p>
            </li>
            <li class="faq-item">
                <div class="faq-container">
                    <h3 class="faq-title">What payment methods do you accept?
                    </h3>
                    <button class="faq-btn" aria-label="open description">
                        <svg class="faq-icon">
                            <use href="./img/icon.svg#icon-down"></use>
                        </svg>
                    </button>
                </div>
                <p class="faq-text">
                    Payment through credit and debit cards such as Visa, MasterCard, specialized
                    electronic payment systems such as PayPal,
                    as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </p>
            </li>
            <li class="faq-item">
                <div class="faq-container">
                    <h3 class="faq-title">How can I contact you?
                    </h3>
                    <button class="faq-btn" aria-label="open description">
                        <svg class="faq-icon">
                            <use href="./img/icon.svg#icon-down"></use>
                        </svg>
                    </button>
                </div>
                <p class="faq-text">
                    In the field of web development, there are various technologies and programming
                    languages. Typically, this includes a
                    combination of frontend (client side) and backend (server side) languages.
                </p>
            </li>
            <li class="faq-item">
                <div class="faq-container">
                    <h3 class="faq-title">Do you provide advice or support?
                    </h3>
                    <button class="faq-btn" aria-label="open description">
                        <svg class="faq-icon">
                            <use href="./img/icon.svg#icon-down"></use>
                        </svg>
                    </button>
                </div>
                <p class="faq-text">
                    The terms of project implementation depend to a large extent on a number of
                    factors, such as the scope of the project,
                    its complexity, and the availability of resources. Determining exact deadlines
                    is a difficult task, and it usually occurs during the planning phase of the
                    project.
                </p>
            </li>
            <li class="faq-item">
                <div class="faq-container">
                    <h3 class="faq-title">What does the process of developing a software product
                        look like from idea to implementation?
                    </h3>
                    <button class="faq-btn" aria-label="open description">
                        <svg class="faq-icon">
                            <use href="./img/icon.svg#icon-down"></use>
                        </svg>
                    </button>
                </div>
                <p class="faq-text">
                    Payment through credit and debit cards such as Visa, MasterCard, specialized
                    electronic payment systems such as PayPal,
                    as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </p>
            </li>
        </ul>
    </div>
</section>