<section class="covers">
  <h2 class="is-hidden">Cover</h2>
  <div class="container covers-container">
    <ul class="covers-list">
      <li class="covers-item">
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/1transforming-your-body.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/1transforming-your-body@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/1transforming-your-body-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/1transforming-your-body-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/1transforming-your-body.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/2mimino.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/2mimino@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/2mimino-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/2mimino-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="../img/covers-img/cover-img-desktop-tablet/2mimino.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/3traditions-of-ukrainian-art.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/3traditions-of-ukrainian-art@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/3traditions-of-ukrainian-art-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/3traditions-of-ukrainian-art-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="../img/covers-img/cover-img-mobile/3traditions-of-ukrainian-art-mobile.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/4your-diet-to-day-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/4your-diet-to-day-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/5manage-your-finances.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/5manage-your-finances@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/5manage-your-finances-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/5manage-your-finances-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/5manage-your-finances.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/6chego.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/6chego@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/6-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/6-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/6chego.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/7stay-healthy.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/7stay-healthy@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/7stay-healthymobile.jpg     1x,
              ./img/covers-img/cover-img-mobile/7stay-healthy-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/7stay-healthy.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/8-mobile.jpg 1x,
              ./img/covers-img/cover-img-mobile/8-mobile.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/9learning-english.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/9learning-english@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/9learning-english-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/9learning-english-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/9learning-english.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
        <picture class="covers-picture">
          <source
            media="(min-width:769px)"
            srcset="
              ./img/covers-img/cover-img-desktop-tablet/10premium-watches.jpg    1x,
              ./img/covers-img/cover-img-desktop-tablet/10premium-watches@2x.jpg 2x
            "
          />
          <source
            media="(max-width:768px)"
            srcset="
              ./img/covers-img/cover-img-mobile/10premium-watches-mobile.jpg    1x,
              ./img/covers-img/cover-img-mobile/10premium-watches-mobile@2x.jpg 2x
            "
          />

          <img
            class="covers-img"
            src="./img/covers-img/cover-img-desktop-tablet/10premium-watches.jpg"
            alt="client"
            width="680"
            height="700"
            class="about-me-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
