<section class="covers">
  <h2 class="is-hidden">Cover</h2>
  <div class="container covers-container">
    <ul class="covers-list">
      <li class="covers-item">
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle10.jpg"
          alt=""
        />
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle11.jpg"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle12.jpg"
          alt=""
        />
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle4.jpg"
          alt=""
        />
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle5.jpg"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle6.jpg"
          alt=""
        />
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle7.jpg"
          alt=""
        />
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle8@2x.jpg"
          alt=""
        />
      </li>
      <li class="covers-item">
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle9.jpg"
          alt=""
        />
        <img
          class="covers-img"
          src="./img/covers-img/cover-img-desktop-tablet/Rectangle1.jpg"
          alt=""
        />
      </li>
    </ul>
  </div>
</section>
