<section class="covers">
  <h2 class="visually-hidden">Cover</h2>
  <div class="container covers-container">
    <ul class="covers-list">
      <li class="covers-item">
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/1transforming-your-body1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/1transforming-your-body2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/1transforming-your-body1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/1transforming-your-body2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/1transforming-your-body1x.webp" alt="site to change your body
            a girl in a black sports suit on a black background is doing a warm-up" width="680" height="162"
            loading="lazy" />
        </picture>
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/2mimino1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/2mimino2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/2mimino1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/2mimino2x.webp  2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/2mimino1x.webp"
            alt="The site Mimino Hotel is a multi-story building with large glass windows" width="680" height="162"
            loading="lazy" />
        </picture>
      </li>
      <li class="covers-item">
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/3traditions-of-ukrainian-art1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/3traditions-of-ukrainian-art2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/3traditions-of-ukrainian-art1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/3traditions-of-ukrainian-art2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="../img/covers-img/cover-img-desktop-tablet/3traditions-of-ukrainian-art1x.webp"
            alt="site of Ukrainian art tradition. A Ukrainian woman in an embroidered dress is sitting in a wheat field"
            width="680" height="162" loading="lazy" />
        </picture>
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/4your-diet-to-day1x.webp" alt="site of organic vegetables for your diet today. Wooden basket with vegetables, mushrooms and eggs
            " width="680" height="162" loading="lazy" />
        </picture>
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/5manage-your-finances1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/5manage-your-finances2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/5manage-your-finances1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/5manage-your-finances2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/5manage-your-finances1x.webp" alt="
            site Manage your finances wisely.
            a man and a woman look at a laptop and see that the balance is plus six hundred and thirty-two dollars"
            width="680" height="162" loading="lazy" />
        </picture>
      </li>
      <li class="covers-item">
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/6chego1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/6chego2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/6chego1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/6chego2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/6chego.jpg" alt="the site  a brand inspired by forms created by nature.
            face of a woman with beautiful makeup blue eyes black hair" width="680" height="162" loading="lazy" />
        </picture>
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/7stay-healthy1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/7stay-healthy2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/7stay-healthy1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/7stay-healthy2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/7stay-healthy1x.webp" alt="
            site to get the body in shape, be healthy.
            a woman in a black sports suit with two-kilogram weights performs exercises" width="680" height="162"
            loading="lazy" />
        </picture>
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/8fresh-harvest-box1x.webp" alt="The Fresh Harvest Box site is a one-stop shop for a basket of delicious fruits.
            many citrus fruits in the basket" width="680" height="162" loading="lazy" />
        </picture>
      </li>
      <li class="covers-item">
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/9learning-english1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/9learning-english2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/9learning-english1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/9learning-english2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/9learning-english1x.webp" alt="site open the joy of learning English with us.
            a girl in headphones listens to an English lesson and smiles" width="680" height="162" loading="lazy" />
        </picture>
        <picture class="covers-picture">
          <source media="(min-width:769px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/10premium-watches1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/10premium-watches2x.webp 2x
            " loading="lazy" />
          <source media="(max-width:768px)" srcset="
              ./img/covers-img/cover-img-desktop-tablet/10premium-watches1x.webp 1x,
              ./img/covers-img/cover-img-desktop-tablet/10premium-watches2x.webp 2x
            " loading="lazy" />

          <img class="covers-img" src="./img/covers-img/cover-img-desktop-tablet/10premium-watches1x.webp" alt="site turn your business into an online leader
            " width="680" height="162" loading="lazy" />
        </picture>
      </li>
    </ul>
  </div>
</section>