<section class="reviews-section" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper" id="swiper3">
      <!-- Additional required wrapper -->
      <p class="show-news"></p>
      <ul class=" swiper-wrapper" id="review-swiper-list">
        <!-- Slides -->
      </ul>

      <div class="my-swiper-buttons slider-buttons">
        <div class="review-btn-prev">
          <button class="my-swiper-button-prev btn-prev-review">
            <svg class="reviews-arrow-left review-arrow-prev" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow-left-dark"></use>
            </svg>
          </button>
        </div>

        <div class="review-btn-next">
          <button class="my-swiper-button-next btn-next-review">
            <svg class="reviews-arrow-right review-arrow-next" width="24" height="24">
              <use href="./img/icon.svg#icon-arrow-right-white"></use>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>