<section class="reviews-section" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper" id="swiper3">
      <!-- Additional required wrapper -->
      <p class="show-news"></p>
      <ul class="swiper-wrapper" id="review-swiper-list">
        <!-- Slides -->
      </ul>

      <div class="slider-buttons">
        <div class="btn-prev-review-wrapper">
          <button class="btn-prev-review" aria-label="Previous Review">
            <svg class="reviews-arrow-left">
              <use href="./img/icon.svg#icon-arrow-left-dark"></use>
            </svg>
          </button>
        </div>

        <div class="btn-next-review-wrapper">
          <button class="btn-next-review" aria-label="Next Review">
            <svg class="reviews-arrow-right">
              <use href="./img/icon.svg#icon-arrow-right-white"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>