<section class="work-together" id="order">
    <div class="container">
        <h2 class="footer-title">
            <span class="footer-title-upper-part">Let&rsquo;s <span class="footer-title-accent">work</span></span>
            <span class="footer-title-lower-part">together</span>
        </h2>
        <picture>
            <source media="(max-width: 767px)"
                srcset="./img/work_together/imagelloyd-jefferson-mobile@1x.webp 1x, ./img/work_together/imagelloyd-jefferson-mobile@2x.webp 2x">
            <source media="(min-width: 768px)"
                srcset="./img/work_together/imagelloyd-jefferson-desktop-tablet@1x.webp 1x, ./img/work_together/imagelloyd-jefferson-desktop-tablet@2x.webp 2x">
            <img src="./img/work_together/imagelloyd-jefferson-mobile@1x.webp" alt="Lloyd Jefferson"
                class="footer-title-image" width="44" height="44">
        </picture>
        <form class="footer-form">
            <div class="footer-input-container">
                <input type="text" class="footer-input footer-email-input" name="email" placeholder="clients@gmail.com"
                    spellcheck="false" autocomplete="off">
                <div class="footer-label success-label visually-hidden">Success!</div>
                <div class="footer-label error-label visually-hidden">Invalid email, try again!</div>
            </div>
            <div class="footer-input-container">
                <input type="text" class="footer-input footer-comments-input" name="comments" placeholder="comments"
                    spellcheck="false" autocomplete="off">
            </div>
            <button class="footer-send-button" type="submit" aria-label="send form">Send</button>
        </form>
        <address class="footer-address">
            <a href="mailto:lloydjefferson@gmail.com" class="footer-link"
                aria-label="send email">lloydjefferson@gmail.com</a>
            <a href="tel:+3801111111111" class="footer-link" aria-label="call phone number">+380 11 1111 11 11</a>
        </address>
    </div>
    <div class="footer-bg-image"></div>
</section>