<section>
    <div class="menu-box image-mob-menu visually-hidden">
        <button type="button" class="button-mob-menu">
            <svg width="28" height="28">
                <use href="./img/icon.svg#icon-close"></use>
            </svg>
        </button>

        <ul>
            <li class="menu-item">
                <a class="menu-link" href="#about-me">About me</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#benefits">Benefits</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#projects">Projects</a>
            </li>
            <li class="mmenu-item">
                <a class="menu-link" href="#faq">FAQ</a>
            </li>
        </ul>
        <div class="modal-order">
            <a class="modal-order-btn" href="#order">Order the project</a>
        </div>
    </div>

</section>