<section>
    <h2 class="visually-hidden">mobile modal</h2>
    <div class="menu-box image-mob-menu visually-hidden">
        <div class="modal-controls">
            <select class="header-select-modal header-select" aria-label="color selector">
                <option value="green">Cyan</option>
                <option value="blue">Blue</option>
                <option value="red">Red</option>
                <option value="lime">Yellow</option>
                <option value="ocher">Orange</option>
            </select>

            <button type="button" class="button-mob-menu" aria-label="open mobile menu">
                <svg width="32" height="32">
                    <use href="./img/icon.svg#icon-close"></use>
                </svg>
            </button>
        </div>

        <ul>
            <li class="menu-item">
                <a class="menu-link" href="#about-me" aria-label="About me">About me</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#benefits" aria-label="Benefits">Benefits</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#projects" aria-label="Projects">Projects</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#faq" aria-label="FAQ">FAQ</a>
            </li>
        </ul>
        <div class="modal-order">
            <a class="modal-order-btn" href="#order" aria-label="Order">Order the project</a>
        </div>
    </div>
</section>