<div class="footer-modal-backdrop js-footer-modal-backdrop">
    <div class="footer-modal-overlay">
        <button class="footer-modal-close-button js-footer-modal-close-button" type="button">
            <svg class="footer-modal-close-button-icon" height="24" width="24">
                <use href="./img/icon.svg#icon-close"></use>
            </svg>
        </button>
        <h3 class="footer-modal-title">Thank you for your interest in cooperation!</h3>
        <p class="footer-modal-description">The manager will contact you shortly to discuss further details and
            opportunities for cooperation. Please stay in touch.</p>
    </div>
</div>