<div class="footer-modal-backdrop visually-hidden">
    <div class="footer-modal-overlay visually-hidden">
        <button class="footer-modal-close-button" type="button" name="close_button" aria-label="close modal window">
            <svg class="footer-modal-close-button-icon" height="22" width="22">
                <use href="./img/icon.svg#icon-close"></use>
            </svg>
        </button>
        <h3 class="footer-modal-title" id="title">footer modal</h3>
        <p class="footer-modal-description" id="message"></p>
    </div>
</div>