.footer-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);

  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .footer-title {
    font-size: 64px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-title {
    margin-bottom: 18px;
  }
}